@use "colors" as *;

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.fixed-body {
	overflow: hidden;
}

//nav

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: $bg-color;
	z-index: 50;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&__logo {
			&-href {
				display: flex;
				align-items: center;
				padding: 1.5em;
				color: black;
				text-decoration: none;
				transition: color 0.3s;
				cursor: pointer;

				img {
					width: 35px;
					height: 35px;
				}

				&-title {
					margin-left: 0.25em;
				}

				&-title,
				i {
					font-size: 2.5rem;
				}

				&:hover {
					color: rgb(44, 44, 44);
				}
			}
		}

		&__burger-btn {
			padding: 1.5em;
			cursor: pointer;

			i {
				font-size: 3rem;
			}
		}

		&__items {
			position: absolute;
			top: 80px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: calc(100vh - 80px);
			background-color: $bg-color;
			opacity: 0;
			transform: translateX(550px);
			transition: transform 0.8s, opacity 0.5s;

			&-item {
				padding: 1.5em;
				font-size: 2rem;
				font-family: "Raleway", sans-serif;
				letter-spacing: 2px;
				text-decoration: none;
				color: $black;
				cursor: pointer;
			}
		}
	}

	.handling-nav {
		opacity: 1;
		transform: translateX(0);
	}
}

//header

.header {
	position: relative;
	margin-top: 80px;
	height: 100%;
	max-height: 400px;
	background-image: url("../img/hero-img-small.jpg");
	background-size: cover;
	background-position: 50% 65%;
	background-repeat: no-repeat;

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}

	.content-box {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 6em 2em;
		z-index: 2;

		&__text {
			font-size: 1.8rem;
		}

		&__title {
			font-size: 3rem;
		}

		&__text,
		&__title {
			padding: 0.1em 0;
			color: $bg-color;
		}
	}
}

//main

main {
	overflow: hidden;

	.section {
		padding: 2em;
	}

	.section-title {
		margin: 1em 0 2em 0;
		font-size: 3rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	.aboutus {
		&__content {
			display: flex;
			flex-direction: column;

			&-img {
				width: 100%;
				height: auto;
			}

			&-text {
				margin-top: 1em;

				&-heading {
					font-family: "Montserrat", sans-serif;
					font-weight: 800;
				}

				&-description {
					margin-top: 0.5em;
					font-weight: 200;
					line-height: 1.5em;
				}
			}

			&-img,
			&-text {
				padding: 0 1em;
			}
		}
	}

	.adventure {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2em;
		padding: 2em 1.5em;
		background-image: url("../img/section-bg-small.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;

		&__shadow {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}

		&__box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			border: 1px solid $bg-color;
			z-index: 5;

			&-text {
				padding: 1.5em 2em;
				font-size: 1.8rem;
				font-weight: bold;
				text-align: center;
				color: $bg-color;
			}
		}
	}

	.offers {
		text-align: center;

		.section-title {
			margin: 1em 0;
		}

		&__heading {
			text-align: center;
		}

		&__check-others {
			display: inline-block;
			padding: 1.5em;
			font-size: 2.5rem;
			text-align: center;
			text-decoration: none;
			color: $black;
			transition: color 0.3s;

			&:hover {
				color: rgb(141, 121, 121);
			}

			&:hover img {
				transform: scale(0.9);
			}

			img {
				width: 35px;
				height: 35px;
				transition: transform 0.3s;
			}
		}

		&__cards {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-card {
				display: flex;
				flex-direction: column;
				margin: 2em 0;
				padding: 1em 2em;
				width: 90%;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
					rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

				&-type {
					font-size: 2rem;
					font-weight: 600;
					text-align: center;
				}

				&-price {
					margin: 0.25em 0 0.5em 0;
					font-size: 3.5rem;
					font-weight: bold;
					text-align: center;
				}

				&-option {
					margin: 0.5em 0;

					&--not-included {
						color: #757575;
					}

					.fa-solid {
						&--included {
							color: $offers-green;
						}
					}
				}

				&-btn {
					margin: 1.5em 0;
					padding: 1em 0;
					font-family: "Montserrat", sans-serif;
					font-size: 1.5rem;
					border-radius: 5px;
					border: none;
					background: none;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					transition: background-color 0.3s;
					cursor: pointer;

					&:hover {
						background-color: $offers-green;
					}
				}
			}
		}
	}

	.offers-subsite {
		margin-top: 80px;

		&__cards {
			display: flex;
			flex-direction: column;

			&-card {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin: 1em 0;
				border-radius: 8px;
				box-shadow: rgba(38, 240, 99, 0.1) 0px 1px 1px 0px inset,
					rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
					rgba(70, 234, 127, 0.3) 0px 30px 60px -30px;
				overflow: hidden;

				img {
					width: 100%;
					object-fit: cover;
					aspect-ratio: 3/2;
				}

				.description-box {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 1em;

					&__title {
						font-family: "Montserrat", sans-serif;
						font-size: 1.8rem;
						font-weight: bold;
						letter-spacing: 1px;
						text-align: center;
					}

					&__reviews {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 1em;

						p {
							padding: 0.5em;
							text-align: center;
						}

						.stars {
							padding: 0.25em;
							font-size: 2.5rem;
							background-color: $offers-green;
							border-radius: 8px;
						}

						.clients,
						.opinions {
							font-weight: 200;
						}
					}

					&__price {
						display: flex;
						justify-content: flex-end;
						margin: 0.5em 0;
						width: 100%;

						&-cost {
							font-size: 2.2rem;

							span {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	.contact-subsite {
		.google-map {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 4em 2em;
		}

		.section-title {
			margin-top: 80px;
			margin-bottom: 1em;
		}

		.msg-status {
			position: absolute;
			top: 50%;
			left: 50%;
			display: none;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 1em;
			font-size: 2.5rem;
			font-family: "Montserrat", sans-serif;
			font-weight: 200;
			text-align: center;
			color: rgb(52, 52, 52);
			background-color: #b3b3b3;
			border: 1px solid rgb(81, 81, 81);
			border-radius: 16px;
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: opacity 1s;

			.close-btn {
				margin-top: 2.5em;
				padding: 1em 2em;
				font-family: "Montserrat", sans-serif;
				background: none;
				border: 1px solid rgb(81, 81, 81);
				border-radius: 16px;
				transition: background-color 0.3s, border 0.3s, color 0.3s;
				cursor: pointer;

				&:hover {
					color: black;
					background-color: rgb(147, 147, 147);
					border: 1px solid black;
				}
			}
		}

		.show-msg {
			opacity: 1;
		}

		.contact-form {
			padding: 1em 2em;
			border-radius: 24px;

			label {
				margin-bottom: 0.5em;
				font-size: 2rem;
			}

			textarea {
				resize: vertical;
				min-height: 150px;
			}

			.send-btn {
				padding: 1em;
				width: 100%;
				font-weight: 400;
				background-color: #ebebeb;
				transition: background-color 0.3s;
				cursor: pointer;
			}

			.send-btn:hover {
				background-color: #cccccc;
			}

			input,
			textarea,
			button {
				padding: 0.75em;
				font-size: 1.5rem;
				font-family: "Montserrat", sans-serif;
				border: 2px solid hsl(0, 0%, 85%);
				border-radius: 12px;
			}
		}

		.contact-box {
			display: flex;
			flex-direction: column;
			margin: 1.5em 0;

			p.error {
				margin-top: 0.25em;
				color: rgb(230, 0, 0);
				visibility: hidden;
			}
		}
	}
}

//footer

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__mobile {
		padding: 1em;
		width: 100%;
		text-align: center;
		background-color: #f0f0f0;
		border-top: 1px solid rgb(103, 103, 103);
	}

	&__desktop {
		display: none;

		&-logo {
			img {
				width: 35px;
				height: 35px;
				margin-right: 0.25em;
			}
		}

		&-info {
			&-element {
				cursor: pointer;
			}
		}
	}
}
