@use "colors" as *;

@media (min-width: 768px) {
	.nav {
		.navbar {
			&__logo {
				&-title {
					margin-left: 0.35em;
				}

				&-title,
				i {
					font-size: 3rem;
				}
			}

			&__burger-btn {
				i {
					font-size: 3.5rem;
				}
			}

			&__items {
				top: 80px;
				height: calc(100vh - 80px);

				&-item {
					padding: 2.2em;
					font-size: 2.5rem;
					letter-spacing: 3px;
				}
			}
		}
	}

	.header {
		.content-box {
			padding: 6em 4em;
		}
	}

	main {
		.aboutus {
			&__content {
				flex-direction: row;

				&-text-heading {
					font-size: 2rem;
				}

				&-img {
					width: 50%;
					height: auto;
				}

				&-text {
					margin: 0;

					&-description {
						font-weight: 400;
					}
				}
			}
		}

		.adventure {
			padding: 4em 1.5em;

			&__box {
				border: 2px solid $bg-color;

				&-text {
					padding: 1.5em 3em;
					font-size: 3rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.wrapper {
		padding: 0 1em;
	}

	.nav {
		.navbar {
			height: 100%;

			&__burger-btn {
				display: none;
			}

			&__items {
				position: static;
				flex-direction: row;
				justify-content: flex-end;
				height: 80px;
				transform: translateX(0);
				opacity: 1;

				&-item {
					display: flex;
					align-items: center;
					padding: 0 1em;
					height: 100%;
					font-size: 1.7rem;
					letter-spacing: normal;
					transition: background-color 0.3s, color 0.3s;

					&:hover {
						background-color: $black;
						color: $bg-color;
					}
				}
			}
		}
	}

	.header {
		background-image: url("../img/hero-img-large.jpg");

		.content-box {
			padding: 10em 1em;

			&__text {
				font-size: 2.2rem;
			}

			&__title {
				font-size: 3.5rem;
			}
		}
	}

	main {
		.aboutus {
			&__content {
				&-text {
					&-description {
						line-height: 2.2em;
					}
				}

				&-img,
				&-text {
					padding: 0 2em;
				}
			}
		}

		.adventure {
			padding: 4em 1.5em;
			background-image: url("../img/section-bg-large.jpg");

			&__shadow {
				background-color: rgba(0, 0, 0, 0.65);
			}

			&__box {
				border: 2px solid $bg-color;

				&-text {
					padding: 1.5em 8em;
					font-size: 3.5rem;
				}
			}
		}
	}
}
